# GNU nano 7.2                                                                                                                            
# Ignore everything
*

# Don't ignore .gitignore itself
!.gitignore

# Unignore specific file types and directories
!*.bash
!*.py
!*.pl
!*.smk
!*.yaml
!*.R
!*.tex
!*.gitignore
!*.md
!*.ini
!*.txt
!*.json
!*.yml
!*.docker
!*.pm
!*.html
!*Snakefile
!*Dockerfile
!*.csv
!*.tsv
!*.js
!*.cpp
!*.hpp
!*.php
!*.sh
